<div class="main-div">
    <div class="center-div">
        <div class="columns">
            <h2 class="head">NOTE MANAGER</h2>

            <div class="title">

                <input (input)="processInputNoteTitle($event)" required type="text" placeholder="Note title"
                    minlength="5" [(ngModel)]="tempTitle">

            </div>
            <p *ngIf="invalidTitle" class="condition">Note title must be at least 5 characters long</p>

            <div class="body">
                <input (input)="processInputNoteDesc($event)" required type="text" placeholder="Note description"
                    minlength="7" [(ngModel)]="tempDesc">

            </div>
            <p *ngIf="invalidDesc" class="condition">Note description must be at least 7 characters long</p>

            <div class="btn-class">
                <button (click)="processSaveNoteData()" class="button" [disabled]="invalidTitle || invalidDesc">Save
                    note</button>
                <button *ngIf="showEdit" (click)="processEditNote()" class="button"
                    [disabled]="invalidTitle || invalidDesc">Save note changes
                </button>
            </div>

        </div>

    </div>
    <div class=" note-library">
        <ol>
            <li (click)="selectNote(note)" *ngFor="let note of notes" class="note-library-text" tabindex="0">
                <h3>{{note.title}}</h3>
                <p>{{note.description}}</p>


                <div *ngIf="showOptions(note)">
                    <button (click)="deleteNote(note)" class="options">Delete</button>
                    <button (click)="editNote(note)" class="options">Edit</button>
                </div>
            </li>
            <br>

        </ol>
    </div>
    <footer>Made by Kristiyan Kraev</footer>

</div>